name: "Release and Deploy Legacy Frontend"

run-name: "Release and deploy `${{ inputs.version }}` to `${{ inputs.environment }}`"

on:
  workflow_dispatch:
    inputs:
      version:
        type: string
        required: true
      environment:
        type: choice
        required: true
        default: prod
        options:
        - dev
        - prod
      run_cluster_tests:
        description: 'Run cluster tests for frontend-legacy before deploying'
        required: true
        type: boolean
        default: true

jobs:
  build:
    name: Build
    uses: ./.github/workflows/release.yml
    secrets: inherit
    with:
      version: ${{ inputs.version }}

  deploy:
    name: Deploy Legacy Frontend
    needs: build
    uses: ./.github/workflows/deploy.yml
    secrets: inherit
    with:
      version: ${{ inputs.version }}
      environment: ${{ inputs.environment }}
      run_cluster_tests: ${{ inputs.run_cluster_tests }}
      cut_release: true
